# Thư viện Node.js
node_modules/

# Cụm Biến môi trường (CỰC KỲ QUAN TRỌNG)
.env
.env.local
.env.*

# Logs cảnh báo của npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# File hệ điều hành (Windows/macOS)
.DS_Store
Thumbs.db

# File cấu hình của các Code Editor (VS Code, WebStorm)
.vscode/
.idea/